body {
	background-color: #000;
	color: #eee;
	font-family: sans-serif;
}

form {
	margin: 4em auto;
}
form > * {
	display: block;
	margin: 0 auto;
}

textarea, input {
	background-color: #111;
	color: #eee;
}

textarea {
	width: calc(100% - 20vh);
	height: 50em;
	tab-size: 4;
}

input[type="submit"] {
	border: 1px solid #777;
	padding: 4px 8px;
}

div.paste {
	width: 250px;
	margin: 1em auto;
	text-align: center;
}

div.github {
	margin: 4em auto;
	text-align: center;
}

a {
	color: #08a;
}
