* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

body {
	background-color: #000;
	color: #ccc;
	font-family: monospace;
	font-size: 16px;
}

div.frame {
	margin: 10px 25px;
	border-top: 1px solid #333;
}

div.frame p {
	margin-top: 10px;
}

div.frame code, div.frame table {
	display: none;
}

code {
	display: block;
	white-space: pre;
	tab-size: 4;
	background-color: #222;
}

code span.def {
	color: #aae;
}

code span.call {
	background-color: #442;
}

table {
	border-collapse: collapse;
}

table.local-vars {
	margin-top: 8px;
}

td, th {
	padding: 6px 12px;
	border: 1px solid #aaa;
}
