* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

body {
	background-color: #000;
	color: #ccc;
	font-family: monospace;
	font-size: 16px;
}

div.frame {
	margin: 10px 25px;
}

code {
	display: block;
	white-space: pre;
	margin-left: 25px;
	tab-size: 4;
}
