<!doctype html>
<html>
	<head>
		<title>traceface</title>
		<link rel="stylesheet" href="style.css">
	</head>
	<body>
		{% for frame in trace %}
			<div class="frame" style="padding-left: {{ 50 * frame.depth }}px">
				<p>
					<b>{{frame.func_name}}</b>
					({{ frame.filepath }}:{{ frame.line_no}})
				</p>
				{% if frame.context_lines %}
					<code>
						{%- for line in frame.context_lines %}
							{% if loop.index0 == frame.call_index -%}
								<span class="highlight">{{ line }}</span>
							{% else -%}
								{{ line }}
							{% endif %}
						{% endfor -%}
					</code>
				{% endif %}
				<table class="local-vars">
					<tr>
						<th>Local variable</th>
						<th>Value</th>
					</tr>
					{% for key, value in frame.local_vars.items() %}
						<tr>
							<td>{{ key }}</td>
							<td>{{ value }}</td>
						</tr>
					{% endfor %}
				</table>
			</div>
		{% endfor %}
	</body>
</html>
