<!doctype html>
<html>
	<head>
		<title>traceface</title>
		<link rel="stylesheet" href="style.css">
	</head>
	<body>
		{% for frame in trace %}
			<div class="frame" style="padding-left: {{ 50 * frame.depth }}px">
				<p>
					<b>{{frame.func_name}}</b>
					({{ frame.filepath }}:{{ frame.line_no}})
				</p>
				<code>{{ frame.rendered or '' }}</code>
			</div>
		{% endfor %}
	</body>
</html>
